/* @import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --base-color: #fbf5dd;
  --second-color: #dda853;
  --text-color: #16404d;
  --navbar-color: #a6cdc6;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Be Vietnam Pro", serif;
}

/* canvas {
  position: fixed;
  top: 0;
  left: 0;
} */

body {
  min-height: 100vh;
  min-width: 100dvh;
  background: var(--base-color);
  /* background: url("assets/asset_02.png") repeat; */
  /* animation: scrolling 4s linear infinite; */
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
  /* overflow-y: scroll; */
}

@keyframes scrolling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 300px;
  }
}

main {
  margin: 20px;
  display: grid;
  /* grid-template-columns: auto 1fr; */
  gap: 1rem;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, minmax(100px, 400px)); */
  grid-template-columns: repeat(12, 100px);
  /* grid-template-rows: repeat(auto-fill, minmax(500px, 1fr)); */
  grid-auto-rows: 100px;
  place-self: stretch center;
}

@media only screen and (max-width: 720px) {
  main {
    margin: 20px;
    display: grid;
    /* grid-template-columns: auto 1fr; */
    gap: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, minmax(100px, 400px)); */
    grid-template-columns: repeat(6, 100px);
    /* grid-template-rows: repeat(auto-fill, minmax(500px, 1fr)); */
    grid-auto-rows: 100px;
    place-self: stretch center;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 280px;
  z-index: 999;
  background-color: var(--navbar-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;

  position: sticky;
  top: 0;
  align-self: start;
}

@media only screen and (max-width: 720px) {
  #sidebar {
    box-sizing: border-box;
    height: 300px;
    width: 100vw;
    z-index: 999;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;

    position: sticky;
    top: 0;
    align-self: start;
  }
}

#sidebar ul {
  list-style: none;
}

.sidebar-section {
  --section-flex: 1;
  flex: var(--section-flex);
  /* padding-top: 50%; */
}

.hero {
  margin-bottom: 50px;
  padding-left: 20px;
}

.hero h1 {
  margin-top: 30px;
  font-size: 48px;
}

.hero p {
  font-family: "Be Vietnam Pro", serif;
  font-size: 18px;
  font-weight: bold;
  display: block;
  line-height: 1.78;
  margin: 15px 0 15px 0px;
}

.pages {
  margin: 20px 0 50px 0;
}

.pages ul {
  font-size: 18px;
  font-weight: bold;
  display: block;
  line-height: 4;
}

.pages > ul > li a:hover {
  transition: all 140ms ease-in;
  color: var(--base-color);
}

.pages > ul > li.active a {
  color: var(--base-color);
}

/* Navbar */
.navbar-footer {
  font-family: "Montserrat", sans-serif;
  margin-top: 50%;
}

.copyright {
  font-size: 12px;
}

.navbar-footer-social {
  text-align: center;
  margin: 0 auto;
}

.social-btn {
  display: inline-block;
  text-align: center;
  font-size: 32px;
  height: 48px;
  width: 48px;
  line-height: 48px;
}

.social-btn:hover {
  color: var(--base-color);
}

/* Main Content */
.card {
  /* background-color: #14029e; */
  /* margin: 20px; */
  padding: 30px;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px; */
}

.card {
  --bg-size: 100%;
  background-size: var(--bg-size);
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: gray; */
  /* background-image: url("assets/asset_03.png"); */
  transition: all 500ms;
}

.card h1 {
  text-align: center;
  font-size: x-large;
}
